*{
    margin: 0;
    padding: 0;
 /*   box-sizing: border-box;*/
    font-family: 'Jost', sans-serif;

}
body{
    background-color: #F9ECF5;
}

header .logo{
    max-width: 80px;
    border-radius: 100%;
}
header .encabezado {
    display: flex;
    align-items: center;
    text-align: center;
}
header .encabezado h1{
    width: 100%;
    font-weight: bold;
    color: #FF66C4;
    font-family: 'Roboto', sans-serif;
}
header .encabezado a{
    font-weight: bold;
    color: #FF66C4;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
header .encabezado a:hover{
    opacity: .5;
}
header .navbar-nav{
    width: 100%;
    justify-content: space-between;
}
header .navbar-nav .nav-link{
    color: #000;
    font-size: 22px;
}
header .navbar-nav .nav-link:hover{
    opacity: .6;
}
header .navbar-nav .active{
    font-weight: bold;
    
}

/* HOME */
.home img{
    border-radius: 35px;
}
.home .texto{
    font-size: 28px;
}

/* FOOTER */
footer{
    background-color: #92929257;
}
footer a{
    color: #000;
    text-decoration: none;
}

/* EXPERIENCIA */
.experiencia p{
    margin: 0;
}
.experiencia h3{
    font-weight: bold;
}
.experiencia img{
    border-radius: 35px;
}
.experiencia .img-exp1{
    width: 240px;
}

.experiencia .img-exp2{
    width: 230px;
    margin-bottom: 1rem;
}
/* LOOKS */
.looks h3{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 1rem;
}
.looks .grilla{
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    gap: 16px;
    justify-content: center;
}
.looks .grilla img{
    
    height: 310px;
    border-radius: 35px;
}
/* ALBUMS */
.albums h3{
    font-weight: bold;
    font-size: 22px;
}
.albums p{
    margin: 0;
}
.albums img{
    width: 300px;
    height: 300px;
    border-radius: 35px;
}
.albums .spoti{
    width: 130px;
    height: 40px;
    margin-top: 1rem;
}
.albums a:hover .spoti{
    opacity: .5;
}
/* PREMIOS */
.premios p{
    margin: 0;
    font-size: 16px;
}
.premios img{
    border-radius: 35px;
    margin: 1rem 0;
    max-height: 400px;
    min-width: 300px;
}
/* CONTACTO */
.contacto form{
    padding: 2rem;
    background: #D9D9D9;
    border-radius: 60px;
}
.contacto input, .contacto textarea{
    background-color: transparent;
    border: 1px solid;
    border-radius: 18px;
}
.contacto form button{
    display: block;
    margin: 1rem auto;
    width: 100px;
    padding: .5rem .8rem;
    background-color: #D9D9D9;
    color: #000;
    border: 1px solid #000;
    border-radius: 35px;
}
.contacto form button:hover{
    opacity: .5;
}
.contacto .contenedor-texto{
    text-align: center;
    max-width: 50%;
}
.contacto .contenedor-texto h3{
    font-size: 1.25rem;
    font-weight: bold;
}
/* REDES */
.redes {
    min-height: 70vh;
}
.redes .container{
    min-height: 70vh;
    display: flex;
    align-items: center;
}
.redes .grilla{
    width: 100%;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    gap: 16px;
    justify-content: center;
}
.redes .grilla img{
    width: 100%;
    border-radius: 35px;
}
.redes .grilla a:hover img{
    opacity: .5;
}

@keyframes color{
    0% {color: #FF66C4;}
    25% {color: #b86ae0;}
    50% {color: #FF66C4;}
    75% {color: #b86ae0;}
    100% {color: #FF66C4;}
}

#titulo{
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes pulso{
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

#pulso{
    animation-name: pulso;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes texto{
    50% {font-size: 1.7rem;}
    100% {font-size: 1.25rem;}
}

#contactanos{
    animation: color 5s, texto 5s;
    animation-iteration-count: infinite;
}


@media screen and (max-width:767px) {
    .home .texto{
        text-align: center;
        margin: 1rem 0;
    }
    .experiencia img{
        width: 100%!important;
        max-height: 300px!important;
        margin: 1.5rem 0;
    }
    .experiencia .texto{
        text-align: center;
        font-size: 18px;
    }
    .experiencia h3{
        margin:1rem 0;
    }
    .looks h3{
        text-align: center;
    }
    .looks .grilla{
        display: grid;
        grid-template-columns: 100%;
        gap: 16px;
        justify-content: center;
    }
    .albums .row{
        text-align: center;
    }
    .albums p{
        font-size: 20px;
    }
    .albums img{
        margin: 1rem 0;
    }
    .premios p{
        text-align: center;
        font-size: 18px;
    }
    .redes .grilla{
        grid-template-columns: 100%;
    }
    .redes .grilla a{
        text-align: center;
    }
    .redes .grilla img{
        width: 100px;
    }
    footer p{
        text-align: center!important;
    }
    footer .text-end{
        text-align: center!important;
    }
}
@media screen and (min-width:1440px) {
    main{
        min-height: 85vh!important;
        display: flex;
        align-items: center;
    }
}
